.vagrant/
latest.tar.gz
phpmyadmin
wp-config.php
wp-content/plugins/*
!wp-content/plugins/genesis-simple-share
wp-content/uploads/
wp-content/upgrade/
config.codekit
advanced-cache.php
mysql.sql
object-cache.php
infinitewp
wp-content/mu-plugins
.sass-cache
.sass-cache/*
*.old
.DS_Store
