.footer-widgets {
    padding: 40px 0 20px 0;
    background: $dark;
    color: $light;
    .wrap {
        @include outer-container;
        .footer-widgets-1 {
            @include span-columns(4);
        }

        .footer-widgets-2 {
            @include span-columns(8);
        }

        @include media($mobile) {
            .footer-widgets-1,
            .footer-widgets-2 {
                @include span-columns(12);
                max-width: 100%;
            }
        }
    }
}

.site-footer {
    padding-bottom: 40px;
    background: $dark;
    color: $light;
    .wrap {
        @include outer-container;
    }

    p {
        margin: 0;
        text-align: center;
    }
}
