input,
select,
textarea {
  background-color: #fff;
  border: 2px solid $color-cta;
  color: #333;
  font-size: 1.5em!important;
  font-weight: 300!important;
  padding: 16px;
  width: 100%!important;
  margin: 5px auto!important;
  font-family: "droid sans"!important;
}

input:focus,
textarea:focus {
    border: 2px solid #999;
    outline: none;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

::-moz-placeholder {
  color: #333;
  font-weight: 300;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: #333;
  font-weight: 300;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $color-cta;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
  padding: 16px 24px;
  text-transform: uppercase;
  width: auto;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
  background-color: $light;
  color: #fff;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  background-color: $dark;
  color: #fff;
  font-family: raleway!important;
}

.entry-content .button:hover {
  color: #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
  background-color: #fff;
  color: #333;
}

.button {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}

.gform_wrapper .gform_footer {
  padding: 0!important;
  margin: 0!important;
}
