form#commentform {
    p {
        padding: 10px;
        font-size: 14px;

        label {
            float: left;
            width: 20%;
        }

        input[type="text"],
        input[type="email"],
        input[type="url"],
        textarea {
            width: 50%;
            padding: 5px;
        }

        input[type="submit"],
        button {
            background-color: #a385be;
            padding: 15px 20px 15px 20px;
            @include border-top-radius(5px);
            @include border-right-radius(5px);
            @include border-bottom-radius(5px);
            @include border-left-radius(5px);
            border: none;
            color: #fff;
            text-transform: lowercase;
        }

        &.form-allowed-tags {
            background-color: #fdfdfd;
            border: 1px solid #dadada;
        }
    }
}

input,
select,
textarea {
	background-color: $light;
	border: 1px solid #ddd;
	border-radius: 3px;
	box-shadow: 0 0 5px #ddd inset;
	@include rem(padding, 16px);
	width: 100%;
	color: shade($light,50%);
}

button,
input[type="button"],
input[type="submit"],
.btn {
	background-color: tint($dark,30%);
	border: none;
	box-shadow: none;
	cursor: pointer;
	@include rem(padding, 16px 24px);
	width: auto;
	color: #fff;
	font-size:inherit;
}

button:hover,
input:hover[type="button"],
input:hover[type="submit"],
.btn:hover {
	background-color: shade($color-cta, 30%);
}
