$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
.site-inner{
    @include outer-container;
    .content {
      @include span-columns(8);

      @include media($mobile) {
        @include span-columns(4);
      }

    }
    .siebar {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(4);
    }
  }
}

/* Full Width Content */
.full-width-content .site-inner .content {
    @include span-columns(12);
}

/* Homepage */
main.content {
    @include outer-container;
    .grid-post-area {
        background-color: #e9e9e9;
        margin-bottom: 30px;
        min-height: 400px;

        &.top {
            margin-top: 30px;
        }

        .grid-post-content-box {
            padding: 10px;
        }

        &:not(.top) {
            @include span-columns(6);
            &.even {
                @include omega;
            }
        }

        .grid-post-meta {
            .grid-post-categories {
                float: right;
            }
        }
    }
}
