$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

.site-inner {
    @include outer-container;
    padding-top: 120px;
    img,
    .wp-caption {
        max-width: 100%;
        height: auto;
    }

    .content {
        @include span-columns(8);
        text-align: justify;
        float: left;

        @include media($mobile) {
            @include span-columns(4);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #a385be;
            font-weight: normal;
            text-align: left;
	    line-height: 1.2;
        }

        line-height: 1.5;

        .entry-meta {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .sidebar {
        @include span-columns(4);
    }

    @include media($mobile) {
        .content,
        .sidebar {
            @include span-columns(12);
            max-width: 100%;
            padding: 0px 10px 0px 10px;
        }
    }
}

/* Full Width Content */
.full-width-content .site-inner .content {
    @include span-columns(12);
}

/* Homepage */
$top-image-max-height: 300px;
main.content {
    @include outer-container;

    .grid-post-row {
	@include clearfix;
	max-height: 570px;
    }
    
    .grid-post-area {
        background-color: #e9e9e9;
        margin-bottom: 30px;
	min-height: 540px;
	max-height: 100%;
	position: relative;

	.grid-post-upper {
            position: relative;
            max-height: ($top-image-max-height / 2);
	    overflow: hidden;
            
            .grid-post-comment-count {
                position: absolute;
                bottom: 30px;
                right: 0px;
                background-color: #A385BE;
                padding: 15px;
                color: #fff;
                text-transform: lowercase;
            }

	    .grid-post-thumbnail {
                width: 100%;
            }
        }

        &.top {
            .grid-post-upper {
                max-height: $top-image-max-height;
            }

	    height: 590px;
        }

        .grid-post-content-box {
            padding: 10px;
	    .grid-post-meta {
                margin-bottom: 10px;
                span {
                    display: block;
                    margin: 5px 0 5px 0;
                }
            }
        }

	.grid-post-read-more {
            width: 100%;
            text-align: center;
            margin: 20px 0 20px 0;
            padding: 20px 0 20px 0;
	    position: absolute;
	    bottom: 10px;
		
		
	    a {
                background-color: #a385be;
                padding: 15px 20px 15px 20px;
                @include border-top-radius(5px);
                @include border-right-radius(5px);
                @include border-bottom-radius(5px);
                @include border-left-radius(5px);
                color: #fff;
                text-transform: lowercase;
            }
        }


        &:not(.top) {
            @include span-columns(6);
            &.even {
                @include omega;
            }
        }

        @include media($mobile) {
            &:not(.top) {
                @include span-columns(12);
                max-width: 100%;
            }

            min-height: 400px !important;
            height: auto !important;
        }
    }

}

/* Pagination */
.pagination-container {
    text-align: center;
    font-size: 16pt;
    height: 6em;
    display: block;
    @include clearfix;

    .archive-pagination {
	@include clearfix;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
    }

    .alignleft {
	@include clearfix;
	max-width: 100%;
	width: 50%;
    }
    
    .alignright {
	@include clearfix;
	max-width: 100%;
	width: 50%;
    }

    ul {
	list-style-type: none;
	display: flex;
	width: 50%;
	align-items: center;
	justify-content: center;
	
	li {
	    display: inline-block;
	    margin-right: 0.5em;

	    &.active a {
		background-color: rgba(0, 0, 0, 0);
		border: 1px solid #a385be;
		color: #a385be;
	    }
	}
    }
    
    .pagination a {
	display: inline-block;
	color: #FFF;
	background-color: #a385be;
	text-align: center;
	border-radius: 5px;
	padding: 15px 20px;
    }
}


/* Articles */
main.content {
    article {
	h2 {
	    margin-bottom: 0.5em;
	    padding-top: 0.1em;
	}

	p {
	    margin-bottom: 0.4em;
	}

	margin-bottom: 2em;
    }

    #respond {
	margin-bottom: 1.75em;

	textarea {
	    border: 2px solid $color-cta;
	    text-align: left;

	    &:focus {
		border: 2px solid #999;
	    }
	}
    }
}
