$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

$post-bg-color: #e9e9e9;
$button-bg-color: #a385be;

$header-color: $button-bg-color;

$mobile: new-breakpoint(max-width 768px 4);
	     
/* General Styling, applies to articles as well */
.site-inner {
    padding-top: 120px;
    padding-left: 20px;
    padding-right: 20px;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-self: center;

    .content-sidebar-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	max-width: 1200px;

	.content {
	    display: flex;
	    flex-direction: column;
	    flex: 2;
	}

	.sidebar {
	    display: flex;
	    flex-direction: column;
	    flex: 1;
	    padding-left: 15px;
	}

	.entry-content img {
	    width: 100%;
	    height: auto;
	}
    }
}

/* Article styling */
body.single {
    div[id^="attachment"] {
	width: 100% !important;
    }

    h1, h2, h3 {
	color: $header-color;
	line-height: 1.1;
	margin-bottom: 10px;
    }

    p {
	margin-bottom: 15px;
    }
}

/* Homepage styling */
.site-inner main.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: nowrap;
    justify-content: space-around;
    max-width: 1200px;

    .grid-post-area.top {
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	.grid-post-content-box {
	    display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: flex-start;
	}
	
	p.grid-post-excerpt {
	    max-width: 600px;
	    width: 100%;
	    align-self: center;
	}

	@include omega;
    }
    
    .grid-post-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	margin-bottom: 10px;
    }

    .grid-post-area {
	background: $post-bg-color;
	margin-right: 10px;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: baseline;

	flex: 1;

	@include omega(2n);
    }
    
    .grid-post-upper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	position: relative;
	width: 100%;

	img {
	    max-width: 100%;
	    width: 100%;
	    height: auto;
	}

	span.grid-post-comment-count {
	    position: absolute;
	    padding: 15px;
	    right: 0;
	    bottom: 30px;
	    text-transform: lowercase;
	    background-color: $button-bg-color;
	    color: white;
	}
    }

    .grid-post-content-box {
	padding: 10px;
    }

    div.grid-post-meta {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;

	span {
	    padding: 5px 0px;
		
	    &:last-of-type {
		padding-bottom: 10px;
	    }
	}
    }

    .grid-post-read-more {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	
	height: 100px;
	width: 100%;

	a {
	    background-color: $button-bg-color;
	    color: white;
	    padding: 15px 20px;
	    border-radius: 5px;
	    text-transform: lowercase;
	}
    }

    .pagination-container {
	width: 100%;
	height: 200px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.archive-pagination {
	    list-style-type: none;
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-items: center; 
	}
	
	ul {
	    list-style-type: none;
	    display: flex;
	    flex-direction: row;
	    flex-wrap: wrap;
	    justify-content: center;
	    align-items: center;
	    padding-left: 0px;
	}

	li {
	    width: auto;
	    height: auto;
	    display: inline-block;
	    margin-right: 5px;
	    margin-top: 5px;
    	   
	    &:last-of-type {
		margin-right: 0px;
	    }
	}

	a {
	    display: block;
	    padding: 15px 20px;
	    border-radius: 5px;
	    text-transform: lowercase;
	    background-color: $button-bg-color;
	    color: white;
	}
    }
}

/* Responsive things */

@include media($mobile) {
    .site-inner {
	padding-top: 20px;
    }
    
    .grid-post-row {
	flex-direction: column !important;
	flex-wrap: nowrap !important;
	width: 100%;
    }

    .grid-post-area {
	@include omega;
	margin-bottom: 10px;
	max-width: 600px;
	width: 100%;

    }


    span.grid-post-comment-count {
	bottom: 10px !important;
	font-size: 10pt;
    }
    
    .content-sidebar-wrap {
	flex-direction: column !important;
    }

    .sidebar {
	padding-left: 0 !important;
	margin-top: 15px;
    }

    li[class^="pagination"] {
	order: 1;
    }
}

