$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
.site-inner{
    @include outer-container;
    .content {
      @include span-columns(8);

      @include media($mobile) {
        @include span-columns(4);
      }

    }
    .siebar {
      @include span-columns(4);
      @include media($mobile) {
        @include span-columns(4);
    }
  }
}

/* Full Width Content */
.full-width-content .site-inner .content {
    @include span-columns(12);
}
