$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;

.site-inner {
    @include outer-container;
    padding-top: 120px;
    img,
    .wp-caption {
        max-width: 100%;
        height: auto;
    }

    .content {
        @include span-columns(8);
        text-align: justify;
        float: left;

        @include media($mobile) {
            @include span-columns(4);
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #a385be;
            font-weight: normal;
        }

        line-height: 1.5;

        .entry-meta {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .sidebar {
        @include span-columns(4);
    }

    @include media($mobile) {
        .content,
        .sidebar {
            @include span-columns(12);
            max-width: 100%;
            padding: 0px 10px 0px 10px;
        }
    }
}

/* Full Width Content */
.full-width-content .site-inner .content {
    @include span-columns(12);
}

/* Homepage */
$top-image-max-height: 300px;
main.content {
    @include outer-container;
    .grid-post-area {
        background-color: #e9e9e9;
        margin-bottom: 30px;
        height: 700px;

        .grid-post-upper {
            position: relative;
            max-height: ($top-image-max-height / 2);
	    overflow: hidden;
              
            .grid-post-comment-count {
                position: absolute;
                bottom: 30px;
                right: 0px;
                background-color: #A385BE;
                padding: 15px;
                color: #fff;
                text-transform: lowercase;
            }

	    .grid-post-thumbnail {
                width: 100%;
            }
        }

        &.top {
            min-height: 850px;
            .grid-post-upper {
                max-height: $top-image-max-height;
            }
        }

        .grid-post-content-box {
            padding: 10px;
            .grid-post-meta {
                margin-bottom: 10px;
                span {
                    display: block;
                    margin: 5px 0 5px 0;
                }
            }
            .grid-post-read-more {
                width: 100%;
                text-align: center;
                margin: 20px 0 20px 0;
                padding: 20px 0 20px 0;
                a {
                    background-color: #a385be;
                    padding: 15px 20px 15px 20px;
                    @include border-top-radius(5px);
                    @include border-right-radius(5px);
                    @include border-bottom-radius(5px);
                    @include border-left-radius(5px);
                    color: #fff;
                    text-transform: lowercase;
                }
            }
        }

        &:not(.top) {
            @include span-columns(6);
            &.even {
                @include omega;
            }
        }

        @include media($mobile) {
            &:not(.top) {
                @include span-columns(12);
                max-width: 100%;
            }

            min-height: 400px !important;
            height: auto !important;
        }
    }

}
.pagination {
    text-align: center;
    font-size: 1.3em;
    margin-bottom: 20px;
}
