.sidebar-primary {
  .widget-wrap {
    background: #fff;
    padding: 10px;
    border: 2px solid #a385be;
    margin-bottom: 15px;
  }

  .widgettitle {
    padding: 15px 10px 5px;
    text-align: center;
    border-bottom: 2px solid #a385be;
    color: #a385be;
    font-size: 24px;
    font-family: raleway;
    margin-bottom: 10px;
  }

  .widget_adrotate_widgets {
    text-align: center;
}
}
