// Color Scheme
$color-base: #E5EBE6 !default;
$color-primary: #5B8D96 !default;
$color-secondary: #C45A3F !default;
$color-cta: #A385BE;
$color-extra: #3B3D42 !default;

// Light & Dark
$dark: #333;
$light: #fff;

// Media Queries
$mobile: new-breakpoint(max-width 500px 4);
