/*!
Theme Name: WPTemple
Theme URI: https://www.wptemple.com
Description: Theme for WPTemple.com
Author: Zach Russell
Author URI: http://protechig.com
Template: genesis
Template Version: 2.1.2
License: GPL-2.0+
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
/* Web Fonts */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Raleway:900);

/* Import Bourbon & Neat */
@import "bourbon";
@import "neat";

/* Import Local Variables and Mixins */
@import "variables";
@import "mixins";

/* Import Local Styles */
@import "defaults";
@import "layout";
@import "headings";
@import "header";
@import "navigation";
@import "meta-comments";
@import "entrycontent";
@import "sidebar";
@import "sidebaralt";
@import "forms";
@import "footer";
@import "responsive"
